* {
  margin: 0 auto;
}

.chatLogBox {
  width: 85%;
  height: 75%;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
}

.chatLogMsgs {
  height: 100%;
  width: 75%;
  border: 1px solid black;
  overflow: auto;
}

.userList {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  overflow: auto;
}

.formBox {
  width: 53%;
}

.inputMsg {
  margin: 5px 15px 0px -42px;
  width: 77%;
  line-height: 4;
  background-color: rgb(186, 229, 247);
  border: 1px solid rgb(139, 139, 241);
}

/* [TOP] Button Styles from BootStrap */
.buttonMsg {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin: 10px 5px 10px 20px;
  padding: 5px 10px;
}
.buttonMsg:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.buttonMsg:focus, .buttonMsg.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.buttonReset {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 10px;
}

.buttonReset:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.buttonReset:focus, .buttonReset.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
/* [END] Button Styles from BootStrap  */

.msgLog {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.user {
  font-size: 12px;
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.message {
  font-size: 13px;
  width: 100%;
  padding-left: 25px;
  text-align: left;
}
